<div class ="wrapper" >
  <div class = "nav">
    <ul class="nav_ul">
      <li><%= link_to"工事中", "#" %></li>
      <li><%= link_to"工事中", "#" %></li>
      <li><%= link_to"工事中", "#" %></li>
      <li><%= link_to"工事中", "#" %></li>
      <li><%= link_to"工事中", "#" %></li>
      <li><%= link_to"工事中", "#" %></li>
    </ul>
  </div>

  <div class="main" >
    <h1>SpringAppへようこそ</h1>
    <%= link_to "サインアップ", users_new_path, class: "main_btn" %><br>
    <%= link_to "ログイン", "#", class: "main_btn" %>
  </div>
</div>
