<div class ="wrapper" >
  <div class = "nav">
    <ul class="nav_ul">
      <li><%= link_to"工事中", "#" %></li>
      <li><%= link_to"工事中", "#" %></li>
      <li><%= link_to"工事中", "#" %></li>
      <li><%= link_to"工事中", "#" %></li>
      <li><%= link_to"工事中", "#" %></li>
      <li><%= link_to"工事中", "#" %></li>
    </ul>
  </div>

  <div class="main" >
    <h1>Home#top</h1>
    <p>Find me in app/views/home/top.html.erb</p>
  </div>
</div>
