<footer class="footer">
  <div class="footer_left" >
    <h3>left</h3>
    <ul>
      <li><%= link_to "left", "#" %></li>
      <li><%= link_to "left", "#" %></li>
      <li><%= link_to "left", "#" %></li>
    </ul>
  </div>
  <div class="footer_middle" >
    <h3>middle</h3>
    <ul>
      <li><%= link_to"middle", "#" %></li>
      <li><%= link_to"middle", "#" %></li>
      <li><%= link_to"middle", "#" %></li>
    </ul>
  </div>
  <div class="footer_right">
    <h3>right</h3>
    <ul>
      <li><%= link_to "right", "#" %></li>
      <li><%= link_to "right", "#" %></li>
      <li><%= link_to "right", "#" %></li>
    </ul>
  </div>
</footer>
