<footer class="footer">
  <div class="footer_left" >
    <h3>ご利用にあたって</h3>
    <ul>
      <li><%= link_to "作成中", "#" %></li>
      <li><%= link_to "作成中", "#" %></li>
      <li><%= link_to "作成中", "#" %></li>
    </ul>
  </div>
  <div class="footer_middle" >
    <h3>SNSとリンク</h3>
    <ul>
      <li><%= link_to"Facebookへ", "#" %></li>
      <li><%= link_to"Twitterへ", "#" %></li>
      <li><%= link_to"Googleへ", "#" %></li>
    </ul>
  </div>
  <div class="footer_right">
    <h3>運用について</h3>
    <ul>
      <li><%= link_to "利用規約", "#" %></li>
      <li><%= link_to "お知らせ", "#" %></li>
      <li><%= link_to "お問合せ", "#" %></li>
    </ul>
  </div>
</footer>
