<div class="menu">
  <ul class="menu_links" >
    <li><%= link_to "工事中", "#" %></li>
    <li><%= link_to "工事中", "#" %></li>
    <li><%= link_to "工事中", "#" %></li>
    <li><%= link_to "工事中", "#" %></li>
    <li><%= link_to "工事中", "#" %></li>
    <li><%= link_to "工事中", "#" %></li>
    <li><%= link_to "工事中", "#" %></li>
    <li><%= link_to "工事中", "#" %></li>
  </ul>
</div>
